<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Search</title>
</head>
<body>

<header>
    <h1>Author Search</h1>
</header>
<main>
    <form action="/authorsearch" method="get">
        <label for="name">Search by Partial Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter name">
        <button type="submit">Search</button>
    </form>

    <ul>
        <li th:each="author : ${authors}">
            <span th:text="${author.first_name + ' ' + author.last_name}"></span>
            <a th:href="@{/editauthor(id=${author.id})}">Edit</a>

            <ul>
                <li th:each="book : ${author.books}">
                    <span th:text="${book.title}"></span>
                    <!-- Adicione mais detalhes do livro, se necessário -->
                </li>
            </ul>
        </li>
    </ul>

</main>

</body>
</html>