<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
<header>
    <h1>Book Search</h1>
</header>
<main>

    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title}"></span>
            <a th:href="@{'/editbook/' + ${book.id}}">Edit</a>
        </li>
    </ul>

    <p th:if="${#lists.isEmpty(books)}">No books found.</p>
</main>
</body>
</html>
