<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
</head>
<body>
<header>
    <h1>Book Search</h1>
</header>
<main>
    <form action="/booksearch" method="get">
        <label for="partialTitle">Search by Partial Title:</label>
        <input type="text" id="partialTitle" name="partialTitle" placeholder="Enter partial title">
        <button type="submit">Search</button>
    </form>

    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.title}"></span>
        </li>
    </ul>
</main>
</body>
</html>
