<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<header>
    <h1>Books</h1>
</header>

<main>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Publication Year</th>
            <th>Pages</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterar sobre a lista de livros -->
        <tr th:each="book : ${book}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.getPublicationYear}"></td>
            <td th:text="${book.pages}"></td>
            <td th:text="${book.author.first_name + ' ' + book.author.last_name}"></td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>
